<div class="card">
  <div class="card-header">
    Lista de estudiantes de la Escuela de Ingeniería de Sistemas  </div>
  <div class="card-body">

    <table class="table caption-top">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">DNI</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
          <th scope="col">Sexo</th>
          <th scope="col">Telefono</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Codigo</th>
          <th scope="col">Serie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemEstudiante of estudianteListaServidor">
          <td>{{itemEstudiante.dni}}</td>
          <td>{{itemEstudiante.nombre}}</td>
          <td>{{itemEstudiante.apellido}}</td>
          <td>{{itemEstudiante.edad}}</td>
          <td>{{itemEstudiante.sexo}}</td>
          <td>{{itemEstudiante.telefono}}</td>
          <td>{{itemEstudiante.fechaNacimiento}}</td>
          <td>{{itemEstudiante.codigo}}</td>
          <td>{{itemEstudiante.serie}}</td>
        </tr>
      </tbody>
    </table>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
